<html>
<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<script src=""></script>
	<link rel="stylesheet" type="text/css" href="https://gamedev-a3.herokuapp.com/css/main.css">
	<link rel="stylesheet" type="text/css" href="https://gamedev-a3.herokuapp.com/css/styles.css">
</head>
<script>
	$( document ).ready(function() {
		var sessionName = <%- JSON.stringify(sessionName) %>;
		var title = <%- JSON.stringify(title) %>;

		$("#sub").html("" + title);
	});
</script>
<body>
	<h1>Observer system</h1>
	<h2 id="sub"></h2>

	<div id="game">
            <div id="abilities">
                <input class="ability" type="button" value="Increase Speed" style="background-image:url(https://gamedev-a3.herokuapp.com/img/increaseSpeed.png)" />
                <input class="ability" type="button" value="Decrease Speed" style="background-image:url(https://gamedev-a3.herokuapp.com/img/decreaseSpeed.png)"  />
                <input class="ability" type="button" value="Increase Jump Height" style="background-image:url(https://gamedev-a3.herokuapp.com/img/increaseJump.png)"  />
                <input class="ability" type="button" value="Decrease Jump Height" style="background-image:url(https://gamedev-a3.herokuapp.com/img/decreaseJump.png)"  />
                <input class="ability" type="button" value="Allow Tripple Jump" style="background-image:url(https://gamedev-a3.herokuapp.com/img/trippleJump.png)"  />
                <input class="ability" type="button" value="Allow Single Jump" style="background-image:url(https://gamedev-a3.herokuapp.com/img/singleJump.png)"  />
            </div>

            <div id="chat">
                <div id="chatLog"></div>
                <div id="chatTextBoxContainer">
                    <input type="text" id="chatTextBox" placeholder="Enter your message here" />
                </div>
            </div>        
        </div>
</body>
</html>